<main role="main">
  <section class="panel important">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">Tên Sản Phẩm</th>
      <th scope="col">Giá</th>
      <th scope="col">Mô tả sản phẩm</th>
      <th scope="col">Hành Động</th>
    </tr>
  </thead>
  <tbody>
      {{#each products}}
    <tr>
      <th scope="row">{{index @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.price}}</td>
      <td>{{this.introduce}}</td>
        <td><a href="/admin/product-manage/edit-product/{{this.slug}}">sửa</a>/<button data-bs-id="{{this._id}}" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Delete
  </button></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn xóa sản phẩm này không</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa, nếu xóa bạn ko thể khôi phục sản phẩm này
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="submit" id="btn-delete" class="btn btn-primary">Xóa</button>
      </div>
    </div>
  </div>
</div>
  </section>
  <form id="form-delete" method="post"></form>
  <a class="btn btn-primary" href="/admin/product-manage/add-product">Thêm sản Phẩm</a>
  

</main>
<script>
  var btnDelete = document.querySelector('#btn-delete');
  var exampleModal = document.getElementById('exampleModal');
  var form = document.getElementById('form-delete')
  console.log(form);
  exampleModal.addEventListener('show.bs.modal', function(event){
    var btnTarget = event.relatedTarget
    btnDelete.onclick = function(){
        var id = btnTarget.getAttribute('data-bs-id')
        console.log(id)
        form.action = `/admin/product-manage/delete/${id}/done?_method=DELETE`; 
        form.submit();
    }

})
</script>