<main role="main">
    <section class="panel important">
        <h1>Gửi yêu cầu bảo hành cho nhân viên</h1>
        
<div class="container table-responsive py-5"> 
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên sản phẩm</th>
      <th scope="col">Nội dụng bảo hành</th>
      <th scope="col">Số diện thoại liên hệ</th>
      <th scope="col">Email liên hệ</th>
      <th scope="col">Trạng thái bảo hành</th>
      <th scope="col">Nhân viên tiếp nhận</th>
      <th scope="col">Gửi yêu cầu</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><img width="25px" src="{{warranty.image}}" alt=""></th>
      <td>{{warranty.product}}</td>
      <td>{{warranty.content}}</td>
      <td>{{warranty.phoneCustomer}}</td>
      <td>{{warranty.emailCustomer}}</td>
      <td>{{warranty.status}}</td>
      <td>
          <form id="warranty" action="/admin/warranty-send/{{warranty._id}}/done?_method=PUT" method="post">
              <select name="staff">
                  {{#each staff}}
                  <option value="{{this.name}}">{{this.name}}</option>
                  {{/each}}
              </select>
          </form>
      </td>
      <td><a href="#"><button data-bs-id={{warranty._id}} id="send-warranty" class="btn btn-primary">Gửi</button></a></td>
    </tr>
  </tbody>
</table>
</div>

    </section>
</main>
<script>
    var btn = document.getElementById('send-warranty')
    var form = document.getElementById('warranty')
    console.log(btn)
    btn.onclick = function(e){
        var id = btn.getAttribute('data-bs-id');
        form.submit();
    }

</script>